@page "/fetchdata"
@using PideYa.Shared.Entities
@inject HttpClient Http

<PageTitle>PideYa - Pilas que tengo hambre</PageTitle>

<h1>La comelona del dia!</h1>

<p>Que hay pa hoy?</p>

@if (dishes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var dish in dishes)
        {

            <div class="col">
                <div class="card">
                    <img src="https://embed.widencdn.net/img/mccormick/v0rvkwdwlk/2000x1125px/sopa_de_pollo.jpg?crop=true&q=80&color=ffffffff&u=qwwekl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@dish.Name</h5>
                        <p class="card-text">@dish.Description</p>
                        <a @onclick="async ()=> await AddToCar(dish.id)" href="#" class="btn btn-primary">Mete eso ahi!</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Dish>? dishes;
    private Order? order;

    protected override async Task OnInitializedAsync()
    {
        dishes = await Http.GetFromJsonAsync<List<Dish>>("/api/Dish");
        await getActiveOrder();
    }

    private async Task getActiveOrder()
    {
        var response = await Http.GetAsync("/api/OrderByEmployee/1");
        if (response.IsSuccessStatusCode)
        {
            order = await response.Content.ReadFromJsonAsync<Order>();
        }
    }

    private async Task AddToCar(int id)
    {

    }
}

